<div id="container text-center" style="margin-left:5%">
      <div class="row">
        <div class="col-6">
          <h1><strong>Mongo Scraper</strong></h1><h3>The Universe Daily</h3> 
        </div>
        <div class="col-6">
          <button id="scrape-button">Scrape for Articles in the Daily Universe</button>
          <a href="/saved"><button >Saved Articles</button></a>
        </div>
     
    </div>